<div class="dashboard-page"></div>

<div class="container">

  <ul class="nav nav-tabs">
    <li><a href="#">Enrollees</a></li>
    <li><a href="#">Waiting Lists</a></li>
    <li><a href="#">Search</a></li>
  </ul>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Carter</td>
        <td>2.5</td>
      </tr>
      <tr>
        <td>Peter Parker</td>
        <td>3</td>
      </tr>
    </tbody>
  </table>

</div>
