
<div class="splash-image">

  <div class="slogans container">
    <h1 class="main-slogan">Child Care Enrollment, Simplified</h1>
    <h3 class="sub-slogan">Seamlessly matching kids with care providers.</h3>
    <button type="button" class="btn btn-primary btn-lg register-button">Register your business</button>

  </div>
</div>
