
<div class="join-page"></div>

<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <form class="form-box" method="post">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="name" >Your First Name:</label>
            <input class="form-control" type="text" name="first_name" />
          </div>
          <div class="form-group col-md-6">
            <label for="name" >Your Last Name:</label>
            <input class="form-control" type="text" name="last_name" />
          </div>
        </div>
        <div class="form-group">
            <label for="business-name">Name of Business:</label>
            <input class="form-control" type="text" name="biz_name" />
        </div>
        <div class="row">
          <div class="form-group col-md-6">
              <label for="city">City:</label>
              <input class="form-control" type="text" name="city" />
          </div>
          <div class="form-group col-md-6">
            <label for="state">State:</label>
            <select class="form-control" name="state">
            <option value="">State
            <option value="AL">Alabama
            <option value="AK">Alaska
            <option value="AZ">Arizona
            <option value="AR">Arkansas
            <option value="CA" Selected>California
            <option value="CO">Colorado
            <option value="CT">Connecticut
            <option value="DE">Delaware
            <option value="FL">Florida
            <option value="GA">Georgia
            <option value="HI">Hawaii
            <option value="ID">Idaho
            <option value="IL">Illinois
            <option value="IN">Indiana
            <option value="IA">Iowa
            <option value="KS">Kansas
            <option value="KY">Kentucky
            <option value="LA">Louisiana
            <option value="ME">Maine
            <option value="MD">Maryland
            <option value="MA">Massachusetts
            <option value="MI">Michigan
            <option value="MN">Minnesota
            <option value="MS">Mississippi
            <option value="MO">Missouri
            <option value="MT">Montana
            <option value="NE">Nebraska
            <option value="NV">Nevada
            <option value="NH">New Hampshire
            <option value="NJ">New Jersey
            <option value="NM">New Mexico
            <option value="NY">New York
            <option value="NC">North Carolina
            <option value="ND">North Dakota
            <option value="OH">Ohio
            <option value="OK">Oklahoma
            <option value="OR">Oregon
            <option value="PA">Pennsylvania
            <option value="RI">Rhode Island
            <option value="SC">South Carolina
            <option value="SD">South Dakota
            <option value="TN">Tennessee
            <option value="TX">Texas
            <option value="UT">Utah
            <option value="VT">Vermont
            <option value="VA">Virginia
            <option value="WA">Washington
            <option value="DC">Washington D.C.
            <option value="WV">West Virginia
            <option value="WI">Wisconsin
            <option value="WY">Wyoming
            </select>
          </div>
        </div>
        <div class="form-group">
            <label for="mail">E-mail:</label>
            <input class="form-control" type="email" name="email" />
        </div>
        <div class="form-group">
            <label for="password">Create Password:</label>
            <input class="form-control" type="password" name="password" />
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm Password:</label>
            <input class="form-control" type="password" name="confirm_password" />
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-12">
            <h4>Setting Your Care Center's Age Groups</h4>

          </div>
        </div>
        <div class="age-group-parent">
          <div class="row age-group-div">
            <div class="form-group col-md-3">
              <label for="age-group">Minimum Age:</label>
              <select class="form-control"name="min_age">
                <option value="" disabled="disabled" selected="selected">Years</option>
                <option value="0">0</option>
                <option value="6">6 mo</option>
                <option value="12">1</option>
                <option value="18">1.5</option>
                <option value="24">2</option>
                <option value="30">2.5</option>
                <option value="36">3</option>
                <option value="42">3.5</option>
                <option value="48">4</option>
                <option value="54">4.5</option>
                <option value="60">5</option>
                <option value="66">5.5</option>
                <option value="72">6</option>
              </select>
            </div>
            <div class="form-group col-md-3">
                <label for="age-group">Maximum Age:</label>
              <select class="form-control" name="max_age">
                <option value="" disabled="disabled" selected="selected">Years</option>
                <option value="0">0</option>
                <option value="6">6 mo</option>
                <option value="12">1</option>
                <option value="18">1.5</option>
                <option value="24">2</option>
                <option value="30">2.5</option>
                <option value="36">3</option>
                <option value="42">3.5</option>
                <option value="48">4</option>
                <option value="54">4.5</option>
                <option value="60">5</option>
                <option value="66">5.5</option>
                <option value="72">6</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="number-of-students">Max. Number of Kids:</label>
              <input class="form-control" name="max_child_count"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" form-group col-md-12">
            <a id="add-age-group-bttn">Add another age group +</a>
          </div>
        </div>
        <script>
          document.getElementById("add-age-group-bttn").addEventListener("click", function() {
            var ageGroupDiv = document.getElementsByClassName("age-group-div")[0];
            var newAgeGroupDiv = ageGroupDiv.cloneNode(true);
            ageGroupDiv.parentElement.appendChild(newAgeGroupDiv);
          });
        </script>
        <div class="row">
          <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
    </form>
  </div>
</div>
