.main-header {
  padding: 10px 0px;
  background-color: white;
  border-bottom: 1px solid #AAAAAA;
}

.kid-logo {
  float: left;
  margin-right: 2px;
}

.site-name {
  color: #F0693E;
}

.sign-in-link, .sign-out-link {
  margin-top: 15px;
  float: right;
  color: #F0693E;
}

.splash-image {
  background-image: url("/images/children_with_balls.jpg");
  height: 650px;
  padding-top: 100px;
  color: white;
}

.slogans {
  /*margin-top: 100px;*/
  text-align: center;
  text-shadow: 0 1px 0 #666;
}

.main-slogan {
  font-size: 56px;
}

.sub-slogan {
  font-size: 30px;
}

.register-button {
  margin-top: 20px;
  font-size: 20px;
}

.form-box {
  margin-top: 70px;
  background: rgba(245, 174, 163,.5);
  border-radius: 2px;
  padding: 20px;
  color: #fff;
  border-radius: 15px;
}

.join-page, .login-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #F88379;
}

.nav-tabs {
  margin-bottom: 40px;
}

.new-child-form-box {
  background: #F88379;
  border-radius: 2px;
  padding: 20px;
  color: #fff;
  border-radius: 15px;
}

.week-select-container {
  display: inline-block;
  width: 100px;
}

.day-selected {
  color: red;
}
