.main-header {
  padding: 10px 0px;
  background-color: white;
  border-bottom: 1px solid #AAAAAA;
}

.kid-logo {
  float: left;
  margin-right: 2px;
}

.site-name {
  color: #F0693E;
}

.sign-in-link {
  margin-top: 15px;
  float: right;
  color: #F0693E;
}

.splash-image {
  background-image: url("/images/children_with_balls.jpg");
  height: 700px;
  color: white;
}

.slogans {
  margin-top: 100px;
  text-align: center;
  text-shadow: 0 1px 0 #666;
}

.main-slogan {
  font-size: 56px;
}

.sub-slogan {
  font-size: 30px;
}

.register-button {
  margin-top: 20px;
  font-size: 20px;
}
