<div class="dashboard-page">
<div class="container">

  <ul class="nav nav-tabs">
    <li><a href="#">Enrollees</a></li>
    <li><a href="#">Waiting Lists</a></li>
    <li><a href="#">Search</a></li>
  </ul>

  <div class="col-md-8 col-md-offset-2">
    <form class="new-child-form-box" method="post">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="child_first_name" >Child's First Name:</label>
          <input class="form-control" type="text" name="child_first_name" />
        </div>
        <div class="form-group col-md-6">
          <label for="child_last_name" >Child's Last Name:</label>
          <input class="form-control" type="text" name="child_last_name" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="mother_first_name" >Mother's First Name:</label>
          <input class="form-control" type="text" name="mother_first_name" />
        </div>
        <div class="form-group col-md-6">
          <label for="mother_last_name" >Mother's Last Name:</label>
          <input class="form-control" type="text" name="mother_last_name" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="father_first_name" >Father's First Name:</label>
          <input class="form-control" type="text" name="father_first_name" />
        </div>
        <div class="form-group col-md-6">
          <label for="father_last_name" >Father's Last Name:</label>
          <input class="form-control" type="text" name="father_last_name" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6 birthday-danger-class">
          <label class="control-label" for="birthday" >Birthday</label>
          <input class="form-control" type="text" name="birthday" placeholder="MM/DD/YYYY" />
          <p class="text-muted birthday-danger" style="display: none; color: red">
            You must enter a birthday.
          </p>
        </div>

        <div class="form-group col-md-6 enrollment-danger-class">
          <label class="control-label" for="enrollment_date" >Enrollment Date</label>
          <input class="form-control" type="text" name="enrollment_date" placeholder="MM/DD/YYYY" />
          <p class="enrollment-danger text-muted" style="display: none; color: red">
            You must enter an enrollment date.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>Days Attending:</label>
        </div>
      </div>

      <div class="row checkbox-inline">
        <div class="form-group">
          <label class="checkbox-inline">
            <input type="checkbox" name="days_attending" value="monday"> Monday
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="days_attending" value="tuesday"> Tuesday
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="days_attending" value="wednesday"> Wednesday
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="days_attending" value="thursday"> Thursday
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="days_attending" value="friday"> Friday
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label>Anticipated departure date:</label>
        </div>
      </div>

      <div class="row">
        <div class="radio col-md-6">
          <label>
            <input type="radio" name="departure_radio" value="aging_out" checked>
            Aging Out of Care
          </label>
        </div>
      </div>

      <div class="row custom-date-div">
        <div class="radio col-md-3">
          <label>
            <input type="radio" name="departure_radio" value="custom_date">
            Set a Custom Date:
          </label>
        </div>
        <div class="col-md-3">
          <input class="form-control" type="text" name="departure_date" placeholder="MM/DD/YYYY" disabled/>
        </div>
        <p class="departure-danger text-muted" style="display: none; color: red">
          You must enter a departure date if you choose the "Custom Date" option.
        </p>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <button name="submitButton" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>

  <script>
    var customDateRadioButton = document.querySelector("[value=custom_date]");
    customDateRadioButton.addEventListener("change", function() {
      document.querySelector("[name=departure_date]").disabled = false;
    });
    var birthdayRadioButton = document.querySelector("[value=aging_out]");
    birthdayRadioButton.addEventListener("change", function() {
      document.querySelector("[name=departure_date]").disabled = true;
    });

    var form = document.querySelector("form");
    var birthdayInput = document.querySelector("[name=birthday]");
    var enrollmentInput = document.querySelector("[name=enrollment_date]");
    var departureInput = document.querySelector("[name=departure_date]");
    var birthdayClass = document.querySelector(".birthday-danger-class");
    var birthdayDanger = document.querySelector(".birthday-danger");
    var enrollmentDanger = document.querySelector(".enrollment-danger");
    var enrollmentClass = document.querySelector(".enrollment-danger-class");
    var departureDanger = document.querySelector(".departure-danger");
    var departureClass = document.querySelector(".custom-date-div");

    form.addEventListener("submit", function(event) {
      if (birthdayInput.value === "") {
        event.preventDefault();
        birthdayDanger.style.display = "";
        birthdayClass.classList.add('has-error');
      } else if (enrollmentInput.value === "") {
        event.preventDefault();
        enrollmentDanger.style.display = "";
        enrollmentClass.classList.add('has-error');
      } else if (departureInput.disabled === false && departureInput.value === "") {
        event.preventDefault();
        departureDanger.style.display= "";
        departureClass.classList.add('has-error');
      }
    });
  </script>

</div>
</div>
